<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>穿白色毛衣吃火锅，你懂的</title>
	<link rel="stylesheet" type="text/css" href="../public/css/css.css">
</head>
<body>
	
	<header class="header">
		<div class="top">
			<p>
				<span>
					<a target="_self" href="./login.html">登录</a>
					<a href="">找回密码</a>
				</span>
				<a href="http://www.oppo.com/cn/" target="_blank">OPPO官网</a>
				<a href="http://www.oppo.cn/thread-35488967-1" target="_blank">管理规定</a>
				<a href="http://www.oppo.cn/app" target="_blank">社区APP</a>
			</p>
		</div>
		<div class="navBar">
			<a href="" id="searchBtn"></a>
			<form id="search">
				<input type="" name="" placeholder="R11">
				<button type="submit">搜索</button>
			</form>
			<a href="./index.html" class="logo"></a>
			<nav>
				<a href="./index.html">首页</a>
				<a href="./topic.html">话题</a>
				<a href="./activity.html">活动</a>
				<a href="./shoot.html">拍客</a>
				<a href="./dynamic.html">动态</a>
			</nav>
		</div>
	</header>

	
	<section class="detailsMain">
		<span class="dropdown">
			<i></i>
			<div class="dropmenu" id="dropmenu">
				<a >举报</a>
				<a >收藏</a>
			</div>
		</span>
		<div class="detailsTop">
			<a href="" class="headPic">
				<img src="../images//932707a6jw1e8qgp5bmzyj2050050aa8.jpg">
			</a>
			<div class="headDetail">
				<h1><a href="">tang0pan</a></h1>
				<div>
					<span class="date"><i></i>2017-11-24 17:36</span>
					<span class="reading"><i></i>121108</span>
					<span class="reply"><i></i>2999</span>
				</div>
			</div>
		</div>
		<div class="detailsContent">
			<h1>穿白色毛衣吃火锅，你懂的</h1>
			<p>
				<a href="">#冬天快乐#</a>
				<a href="">#反正都有趣#</a><span>穿白色毛衣吃火锅，你懂的</span>
				<img src="../images/6jGJZi.png">
				<br>
				<img src="../images/15112793892179.jpg_w1080.jpg"><br><br>
				<img src="../images/15112793891034.jpg_w1080.jpg"><br><br>
				<img src="../images/15112793894958.jpg_w1080.jpg"><br><br>
				<img src="../images/15112793897030.jpg_w1080.jpg">
			</p>
		</div>
		<ul class="detailsBtn">
			<li class="replyBtn">
				<i></i>
				<span>评论<em>2999</em></span>
			</li>
			<li class="likeBtn">
				<i></i>
				<span>评论<em>2999</em></span>
			</li>
			<li class="sugarBtn">
				<i></i>
				<span>评论<em>2999</em></span>
			</li>
		</ul>
	</section>
	<section class="detailsMain">
		<h1 class="replyHead">全部评论</h1>
		<ul class="replyMain">
			<li>
				<a href="" class="replyUser"><img src="../images/15082587385096_avatar_middle.jpg"></a>
				<div class="replyBox">
					<h1>
						<a href="" class="userName">有趣的1999 </a>
						<span class="replyBy">来自 OPPO R11.反正都精彩</span>
					</h1>
					<p class="comment"> 要摆放拍很久吗 </p>
					<div class="otherReply">
						<span class="otherUser">西藏戍边人</span> : 要看拍什么内容，你好好看下帖子就知道了
						<time>10-18 21:22</time>
					</div>
					<div class="otherOpr">
						<a>更多</a>
						<span class="reply"><i></i>0</span>
						<span class="like"><i></i>0</span>
						<span class="sugar"><i></i>0</span>
						
					</div>
				</div>
			</li>
			<li>
				<a href="" class="replyUser"><img src="../images/15082587385096_avatar_middle.jpg"></a>
				<div class="replyBox">
					<h1>
						<a href="" class="userName">有趣的1999 </a>
						<span class="replyBy">来自 OPPO R11.反正都精彩</span>
					</h1>
					<p class="comment"> 要摆放拍很久吗 </p>
					<div class="otherReply">
						<span class="otherUser">西藏戍边人</span> : 要看拍什么内容，你好好看下帖子就知道了
						<time>10-18 21:22</time>
					</div>
					<div class="otherOpr">
						<a>更多</a>
						<span class="reply"><i></i>0</span>
						<span class="like"><i></i>0</span>
						<span class="sugar"><i></i>0</span>
						
					</div>
				</div>
			</li>
		</ul>
	</section>

	<footer class="footer">
		<div>
			<a href="">OPPO论坛</a>
			<span>|</span>
			<a href="">OPPO乐园</a>
			<span>|</span>
			<a href="">OPPOR11</a>
			<span>|</span>
			<a href="">OPPOR9</a>
		</div>
		<p>
			<strong>   ©  2005 - 2017 广东欧珀移动通信有限公司 版权所有</strong> (
			<a href="" id="icp">粤ICP备08130115号-3</a> )
		</p>
	</footer>

</body>
</html>