<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>属于O粉的兴趣圈子_话题_OPPO手机官方社区</title>
	<link rel="stylesheet" type="text/css" href="../public/css/css.css">
</head>
<body class="topic">
	
	<header class="header">
		<div class="top">
			<p>
				<span>
					<a target="_self" href="./login.html">登录</a>
					<a href="">找回密码</a>
				</span>
				<a href="http://www.oppo.com/cn/" target="_blank">OPPO官网</a>
				<a href="http://www.oppo.cn/thread-35488967-1" target="_blank">管理规定</a>
				<a href="http://www.oppo.cn/app" target="_blank">社区APP</a>
			</p>
		</div>
		<div class="navBar">
			<a href="" id="searchBtn"></a>
			<form id="search">
				<input type="" name="" placeholder="R11">
				<button type="submit">搜索</button>
			</form>
			<a href="./index.html" class="logo"></a>
			<nav>
				<a href="./index.html">首页</a>
				<a href="./topic.html">话题</a>
				<a href="./activity.html">活动</a>
				<a href="./shoot.html">拍客</a>
				<a href="./dynamic.html">动态</a>
			</nav>
		</div>
	</header>

	<section class="main">
		<div class="topicTop">
			<a href="">OPPO社区<s></s></a>
			<span>话题<u></u><s></s></span>
		</div>
		
		<!-- 侧边栏开始 -->
		<aside class="rSide">
			<a class="rbox publish box">
				<i></i>
				<p>发表帖子</p>
			</a>
			<a class="rbox sign box">
				<i></i>
				<span>签到</span>
				<b>签到<em>305321</em>人</b>
			</a>
			<div class="label box">
				<h1 class="boxTitle"> 热门标签 </h1>
				<h2 >
					<a href="">R11</a>
					<a href="">R9s</a>
					<a href="">R9</a>
				</h2>
			</div>
			<div class="box down">
				<img src="../images/15111425086094.png">
				<p>OPPO社区APP</p>
				<a href="">下载到电脑</a>
			</div>
			<div class="contact box">
				<h1 class="boxTitle"> 关注我们 </h1>
				<span href="" class="rbox weibo">
					<i></i>
					<p><em></em>官方微博</p>
				</span>
				<span href="" class="rbox wechat">
					<i></i>
					<p><em></em>官方微信</p>
					<b>扫一扫</b>
				</span>
			</div>
		</aside>
		<!-- 侧边栏结束 -->


		<div class="lSide">
			<h1 class="lSideTop box"><a>全部话题</a></h1>
			<ul>
				<li class="topicBox box">
					<a href="" class="follow">关注</a>
					<a href="" class="topicPic"><img src="../images/5a1b6f9f17d85.jpg"></a>
					<h2><a href="" target="_self">测试话题3</a></h2>
					<p>测试话题3测试话题3测试话题3测试话题3</p>
					<div class="topicData">
						<span>阅读<em>40.2万</em></span>
						<span>讨论<em>8.7万</em></span>
					</div>
				</li>
				<li class="topicBox box">
					<a href="" class="follow">关注</a>
					<a href="" class="topicPic"><img src="../images/5a1b6f9f17d85.jpg"></a>
					<h2><a href="" target="_self">测试话题3</a></h2>
					<p>测试话题3测试话题3测试话题3测试话题3</p>
					<div class="topicData">
						<span>阅读<em>40.2万</em></span>
						<span>讨论<em>8.7万</em></span>
					</div>
				</li>
				<li class="topicBox box">
					<a href="" class="follow">关注</a>
					<a href="" class="topicPic"><img src="../images/5a1b6f9f17d85.jpg"></a>
					<h2><a href="" target="_self">测试话题3</a></h2>
					<p>测试话题3测试话题3测试话题3测试话题3</p>
					<div class="topicData">
						<span>阅读<em>40.2万</em></span>
						<span>讨论<em>8.7万</em></span>
					</div>
				</li>
				<li class="topicBox box">
					<a href="" class="follow">关注</a>
					<a href="" class="topicPic"><img src="../images/5a1b6f9f17d85.jpg"></a>
					<h2><a href="" target="_self">测试话题3</a></h2>
					<p>测试话题3测试话题3测试话题3测试话题3</p>
					<div class="topicData">
						<span>阅读<em>40.2万</em></span>
						<span>讨论<em>8.7万</em></span>
					</div>
				</li>
				<div class="topicPage box">
					<a href="" class="prePage unClick"><i></i>上一页</a>
					<span>
						<ul id="pageing">
							<li><a class="currentPage" href="">第1页</a></li>
							<li><a href="">第2页</a></li>
						</ul>
						<a href="">第1页<i></i></a>
					</span>
					<a href="" class="nextPage">下一页<i></i></a>
				</div>
			</ul>
		</div>
		<h1 class="clear"></h1>
	</section>

	<footer class="footer">
		<div>
			<a href="">OPPO论坛</a>
			<span>|</span>
			<a href="">OPPO乐园</a>
			<span>|</span>
			<a href="">OPPOR11</a>
			<span>|</span>
			<a href="">OPPOR9</a>
		</div>
		<p>
			<strong>   ©  2005 - 2017 广东欧珀移动通信有限公司 版权所有</strong> (
			<a href="" id="icp">粤ICP备08130115号-3</a> )
		</p>
	</footer>

</body>
</html>