<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>『OPPO帐号』-注册</title>
	<link rel="stylesheet" type="text/css" href="/static/css/css.css">
</head>
<body class="register">
	<header class="loginTop">
		<div>
			<li><a href="./index.html">OPPO官网</a></li>
			<li><a href="">OPPO社区</a></li>
			<li><a href="">ColorOS</a></li>
			
		</div>
	</header>
	<section class="loginBox">
		<div class="mainBox">
			<div class="top">注册OPPO帐号</div>
			<div class="loginArea">
				<form action="{:Url('index/register/insert')}" method="post">
					<p><input type="text" name="" placeholder="请输入手机号码"></p>
					<p>
						<input type="text" name="" placeholder="短信验证码" class="code">
						<button>
							获取验证码
						</button></p>
					<p>
						<input type="text" name="captcha" placeholder="图片验证码" class="code" style="float: left; margin-bottom: 20px;">
						<div>
							<img src="{:captcha_src()}" alt="captcha" style="width: 120px;float: left; margin-bottom: 20px;" onclick="this.src='{:captcha_src()}'" />
						</div>
					</p>
					<p><input type="password" name="psd" placeholder="密码"></p>
					<p><input type="password" name="repsd" placeholder="确认密码"></p>
					<input type="submit" name="" value="立即注册">
				</form>
			</div>
		
		</div>
		<div class="loginFooter">© 2005 - 2017 OPPO 版权所有 粤ICP备14056724号-2 联系方式：4001-666-888</div>
	</section>
</body>
</html>