<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>属于O粉的兴趣圈子_话题_OPPO手机官方社区</title>
	<link rel="stylesheet" type="text/css" href="/static/css/css.css">
</head>
<body class="topic">
	
	{include file="../application/index/view/common/header.html" /}

	<section class="main">
		<div class="topicTop">
			<a href="">OPPO社区<s></s></a>
			<span>话题<u></u><s></s></span>
		</div>
		
		<!-- 侧边栏开始 -->
		{include file="../application/index/view/common/menu.html" /}
		<!-- 侧边栏结束 -->


		<div class="lSide">
			<h1 class="lSideTop box"><a>全部话题</a></h1>
			<ul>
				{volist name="topicList" id="vo"}
				<li class="topicBox box">
					<button id="followButton" class="follow" onclick="topicFollow({$vo.id});">关注</button>
					<a href="/index/topic/getPostList?topic={$vo.id}" class="topicPic"><img src="{$vo.image}"></a>
					<h2><a href="" target="_self">{$vo.name}</a></h2>
					<p>{$vo.content}</p>
					<div class="topicData">
						<span>阅读<em>40.2万</em></span>
						<span>讨论<em>8.7万</em></span>
					</div>
				</li>
				{/volist}
				<div class="topicPage box">
					<a href="" class="prePage unClick"><i></i>上一页</a>
					<span>
						<ul id="pageing">
							<li><a class="currentPage" href="">第1页</a></li>
							<li><a href="">第2页</a></li>
						</ul>
						<a href="">第1页<i></i></a>
					</span>
					<a href="" class="nextPage">下一页<i></i></a>
				</div>
			</ul>
		</div>
		<h1 class="clear"></h1>
	</section>

	{include file="../application/index/view/common/footer.html" /}

	<!-- 提示框 -->
	<div id="tip-box" style="display:none; width: 200px; height: 100px; background: rgba(0,0,0,0.5); line-height: 100px; position: fixed; top:50%; left: 50%; transform: translate(-50%, -50%); color: #FFF; text-align: center; font-size: 16px;"></div>
	<!-- 提示框结束 -->

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">

//关注话题
function topicFollow(topicId)
{
	//post方法提交
	$.post('/index/topic/topicFollow', {'topic_id':topicId},
		function(ret) {
		if(ret.code == 0){
			if(ret.data == 1) {

				window.location.href = ret.url;
			}
			if(ret.data == 3) {
				$('#followButton').html('已关注');
			}
			if(ret.data == "") {
				$('#followButton').html('取消关注');
			}
		}
		if(ret.code == 1){
			
			if(ret.data == "") {
				$('#followButton').html('取消关注');
			}
		}

		//提示框显示信息
		$('#followButton').html("已关注");
		$('#tip-box').html("");
		$('#tip-box').append(ret.msg);
		$('#tip-box').fadeIn();
		setTimeout(function() {
			$('#tip-box').fadeOut();
		},2000);


	},'json');
}

</script>


</body>
</html>