<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="__CSS__/css.css">
	<title>OPPOR11_前后2000万拍照更清晰_OPPO手机官方社区</title>
</head>
<body>
	
	{include file="../application/index/view/index/common/header.html" /}
	

	<section class="main">
		<!-- 轮播开始 -->
		<div class="roll">
			<p class="img">
				<a href=""><img src="/static/images/15107093797817.jpg_w1080.jpg" alt=""></a>
				<a href=""><img src="/static/images/15111437203091.jpg_w1080.jpg" alt=""></a>
				<a href=""><img src="/static/images/15111435742922.jpg_w1080.jpg" alt=""></a>
				<a href=""><img src="/static/images/15107093797817.jpg_w1080.jpg" alt=""></a>
			</p>
			<p class="point">
				<a href="" class='showing'></a>
				<a href=""></a>
				<a href=""></a>
			</p>
		</div>
		<!-- 轮播结束 -->
		<!-- 侧边栏开始 -->
		<aside class="rSide">
			<a href="/index/post/index" class="rbox publish box">
				<i></i>
				<p>发表帖子</p>
			</a>
			<a class="rbox sign box">
				<i></i>
				<span>签到</span>
				<b>签到<em>305321</em>人</b>
			</a>
			<div class="label box">
				<h1 class="boxTitle"> 热门标签 </h1>
				<h2 >
					<a href="">R11</a>
					<a href="">R9s</a>
					<a href="">R9</a>
				</h2>
			</div>
			<div class="box down">
				<img src="/static/images/15111425086094.png">
				<p>OPPO社区APP</p>
				<a href="">下载到电脑</a>
			</div>
			<div class="contact box">
				<h1 class="boxTitle"> 关注我们 </h1>
				<span href="" class="rbox weibo">
					<i></i>
					<p><em></em>官方微博</p>
				</span>
				<span href="" class="rbox wechat">
					<i></i>
					<p><em></em>官方微信</p>
					<b>扫一扫</b>
				</span>
			</div>
		</aside>
		<!-- 侧边栏结束 -->
		
		<!-- 首页列表开始 -->
		<aside class="lSide ">
			<h1 class="boxTitle"> 热帖推荐 </h1>
			<div class="blog box">
				<a href="" class="headPic"><img src="/static/images/932707a6jw1e8qgp5bmzyj2050050aa8.jpg"></a>
				<div class="blogcont">
					<h1 class="blogTit">
						<a href="">穿白色毛衣吃火锅，你懂的</a>
						<span>tang0pan</span>
					</h1>
					<section class="blogPic">
						<a href="">
							<span><img src="/static/images/5a17e7efce883.jpg"></span>
						</a>
						<a href="">
							<span><img src="/static/images/5a17e7efcfc5e.jpg"></span>
						</a>
					</section>
					<div class="blogBot">
						<p class="date">2017/11/24 下午5:36:00</p>
						<div class="opr">
							<span class="view"><i></i>776</span>
							<a href="" class="forward"><i></i>1</a>
							<a href="" class="reply"><i></i>30</a>
							<a href="" class="praise"><i></i>483</a>
						</div>
					</div>
				</div>
			</div>
			<div class="blog box">
				<a href="" class="headPic"><img src="/static/images/932707a6jw1e8qgp5bmzyj2050050aa8.jpg"></a>
				<div class="blogcont">
					<h1 class="blogTit">
						<a href="">美女如云</a>
						<span>tang0pan</span>
					</h1>
					<section class="blogPic">
						<a href="">
							<span><img src="/static/images/5a17d52c44fcb.jpg"></span>
						</a>
						<a href="">
							<span><img src="/static/images/5a17e7efce883.jpg"></span>
						</a>
						<a href="">
							<span><img src="/static/images/5a17d52c47d02.jpg"></span>
						</a>
					</section>
					<div class="blogBot">
						<p class="date">2017/11/24 下午4:15:43</p>
						<div class="opr">
							<span class="view"><i></i>776</span>
							<a href="" class="forward"><i></i>1</a>
							<a href="" class="reply"><i></i>30</a>
							<a href="" class="praise"><i></i>483</a>
						</div>
					</div>
				</div>
			</div>
			<div class="blog box">
				<a href="" class="headPic"><img src="/static/images/932707a6jw1e8qgp5bmzyj2050050aa8.jpg"></a>
				<div class="blogcont">
					<h1 class="blogTit">
						<a href="">回忆过去。#反正都有趣# </a>
						<span>tang0pan</span>
					</h1>
					<section class="blogPic">
						<a href="">
							<span><img src="/static/images/5a17e82a976ae.jpg"></span>
						</a>
					</section>
					<div class="blogBot">
						<p class="date">2017/11/24 下午5:36:00</p>
						<div class="opr">
							<span class="view"><i></i>776</span>
							<a href="" class="forward"><i></i>1</a>
							<a href="" class="reply"><i></i>30</a>
							<a href="" class="praise"><i></i>483</a>
						</div>
					</div>
				</div>
			</div>
			<div class="blog box">
				<a href="" class="headPic"><img src="/static/images/932707a6jw1e8qgp5bmzyj2050050aa8.jpg"></a>
				<div class="blogcont">
					<h1 class="blogTit">
						<a href="">#反正都有趣##感恩默契大考验##冬天快乐#感谢遇见你 </a>
						<span>tang0pan</span>
					</h1>
					<section class="blogPic">
						<a href="">
							<span><img src="/static/images/5a17e859eed87.jpg"></span>
						</a>
					</section>
					<div class="blogBot">
						<p class="date">2017/11/24 下午5:36:00</p>
						<div class="opr">
							<span class="view"><i></i>776</span>
							<a href="" class="forward"><i></i>1</a>
							<a href="" class="reply"><i></i>30</a>
							<a href="" class="praise"><i></i>483</a>
						</div>
					</div>
				</div>
			</div>	
			<div class="blog box">
				<a href="" class="headPic"><img src="/static/images/932707a6jw1e8qgp5bmzyj2050050aa8.jpg"></a>
				<div class="blogcont">
					<h1 class="blogTit">
						<a href="">飞洒地方撒旦法撒旦法 </a>
						<span>tang0pan</span>
					</h1>
					<section class="blogPic">
						<a href="">
							<span><img src="/static/images/5a1e0cfc95532.jpg"></span>
						</a>
						<a href="">
							<span><img src="/static/images/5a1e0cfc96c34.jpg"></span>
						</a>
					</section>
					<div class="blogBot">
						<p class="date">2017/11/24 下午5:36:00</p>
						<div class="opr">
							<span class="view"><i></i>776</span>
							<a href="" class="forward"><i></i>1</a>
							<a href="" class="reply"><i></i>30</a>
							<a href="" class="praise"><i></i>483</a>
						</div>
					</div>
				</div>
			</div>
			<ul class="loadMore">没有数据</ul>
		</aside>
		<!-- 首页列表结束 -->

		<h1 class="clear"></h1>
	</section>
	<div class="indexLink box">
		<div>友情链接</div>
		<li><a href="">OPPO R11</a></li>
	</div>
	
	{include file="../application/index/view/index/common/footer.html" /}

</body>
</html>