<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>『OPPO帐号』-登录</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/css.css">
</head>
<body class="login">
	<header class="loginTop">
		<div>
			<li><a href="./index.html">OPPO官网</a></li>
			<li><a href="">OPPO社区</a></li>
			<li><a href="">ColorOS</a></li>
			
		</div>
	</header>
	<section class="loginBox">
		<div class="mainBox">
			<div class="top">
				<img src="../images/logo.png">
				<h3>登录OPPO帐号可享受更多的服务</h3>
			</div>
			<div class="loginArea">
				<form action="{:Url('index/login/login')}" method="post">
					<p><input type="text" name="phone" placeholder="请输入手机号码"></p>
					<p><input type="password" name="pwd" placeholder="请输入密码"></p>
					<input type="submit" name="submit" value="登录">
				</form>
				<a href="./register.html" class="registerBtn">注册OPPO帐号 </a>
			</div>
			<div class="otherLink">
				<p></p>
				<a href=""></a>
			</div>
		</div>
		<div class="loginFooter">© 2005 - 2017 OPPO 版权所有 粤ICP备14056724号-2 联系方式：4001-666-888</div>
	</section>
</body>
</html>