<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>OPPOR11_前后2000万拍照更清晰_OPPO手机官方社区</title>
	<link rel="stylesheet" type="text/css" href="/static/css/css.css">


</head>
<body class="topic activity dynamic post">
	
	{include file="../application/index/view/common/header.html" /}

	<section class="main">
		<div class="topicTop">
			<a href="">OPPO社区<s></s></a>
			<span>发帖<u></u><s></s></span>
		</div>
		<!-- 侧边栏开始 -->
		{include file="../application/index/view/common/menu.html" /}
		<!-- 侧边栏结束 -->
		
		<aside class="lSide box">
			<!-- 帖子编辑区 -->
			<div id="content-container" style="margin:15px;">
				<div style="margin:10px;">
					<div style="clear: both;">
						<form action="/index/post/add" method="post">
							<div style="margin-bottom: 20px;">
								<input type="text" name="title" style="width: 700px;height: 30px; line-height: 30px; padding-left: 20px; " placeholder="请输入标题">
							</div>

							<div style="margin-bottom: 20px;">
								<select style="width:100px;height: 30px; font:16px;" name="topic">
									<option>请选择话题</option>
									{volist name="topicList" id="vo"}
									<option value="{$vo.id}">{$vo.name}</option>
									{/volist}
								</select>
							</div>

							<div style="margin-bottom: 20px;">
								<button style="width: 200px;height: 30px;line-height: 30px; background: #F60; text-align: center;">选择上传图片</button><br />
								<input type="file" name="img" style="width:200px; height:30px; margin-top: -30px; opacity: 0; float: left;" onchange="uploadsimage(this);" id="image" multiple>
								<input type="hidden" name="pictureUploads" value="123" id="pictureUploads">
								<!-- <img src="" style="width: 200px; margin-top: 2px;" id="uploadsimg"> -->
							</div>
							<div id="img-list-box">
							</div>
							<div style="clear: both;"></div>
							<textarea style="margin-bottom: 20px; height: 400px; " id="content-box">
								
							</textarea>

							<input type="submit" value="提交">
						</form>
					</div>
				</div>
			</aside>

			<h1 class="clear"></h1>
		</section>


		{include file="../application/index/view/common/footer.html" /}


		<script type="text/javascript">

//图片
var img_src = new Array();

//上传图片
function uploadsimage(obj) {
	if ( obj.value == "" ) return;

	var formdata = new FormData();

    formdata.append("image" , $(obj)[0].files[0]);//$(obj)[0].files[0]为文件对象

    $.ajax({
    	type : 'post',
    	url : '/index/common/uploadsimage',
    	data : formdata,
    	cache : false,
        processData : false, // 不处理发送的数据，因为data值是Formdata对象，不需要对数据做处理
        contentType : false, // 不设置Content-type请求头
        success : function(ret){
        	var html = '<div style="float:left"><img src="'+ret+'" style="width:120px">';
        	html += '<button onclick="delImg(this);">删除</button>';
        	html += '</div>';
         	// console.log(html);
         	$('#img-list-box').append(html);
         	
         	img_src.push(ret);
        	// console.log(img_src);
        	$('#pictureUploads').val(img_src);
        },
        error : function(){ 
        	alert('图片上传失败');
        }
    });
}

//删除添加的图片
function delImg(obj) {

	$(obj).parent('div').remove();

}
</script>

<script src="/static/assets/js/jquery.min.js"></script>

<script src="/static/assets/js/amazeui.min.js"></script>

<script src="/static/assets/js/app.js"></script>
<!-- 配置文件 -->
<script type="text/javascript" src="/static/UEditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/UEditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
	var ue = UE.getEditor('content-box');
</script>

</body>
</html>