<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AmazeUi</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
</head>
<body>
	
	
	<div style="width: 1080px; height: 420px;" class="am-center" class="roll">

		<div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}' >
			<ul class="am-slides">
				<li>
					<img src="/static/images/15107093797817.jpg_w1080.jpg">
				</li>
				<li>
					<img src="/static/images/15111437203091.jpg_w1080.jpg">
				</li>
				<li>
					<img src="/static/images/15111435742922.jpg_w1080.jpg">
				</li>
			</ul>
		</div>

	</div>

	<script src="/static/assets/js/jquery.min.js"></script>
	<!--<![endif]-->
	<script src="/static/assets/js/amazeui.min.js"></script>
</body>
</html>