<header class="header">
	<div class="top">
		<p>
			<span>

				{eq name="Think.session.user_id" value=""}
					<a target="_self" href="{:Url('index/index/login')}">登录</a>
				{else/}
					<a target="_self" href="{:Url('index/login/logout')}">退出登录</a>
					<a>{$Think.session.user_id}</a>
				{/eq}

				<a href="">找回密码</a>
			</span>
			<a href="http://www.oppo.com/cn/" target="_blank">OPPO官网</a>
			<a href="http://www.oppo.cn/thread-35488967-1" target="_blank">管理规定</a>
			<a href="http://www.oppo.cn/app" target="_blank">社区APP</a>
		</p>
	</div>
	<div class="navBar">
		<a href="" id="searchBtn"></a>
		<form id="search">
			<input type="" name="" placeholder="R11">
			<button type="submit">搜索</button>
		</form>
		<a href="./index.html" class="logo"></a>
		<nav>
			<a href="/index/index/index">首页</a>
			<a href="./topic.html">话题</a>
			<a href="./activity.html">活动</a>
			<a href="./shoot.html">拍客</a>
			<a href="./dynamic.html">动态</a>
		</nav>
	</div>
</header>