<!-- 侧边栏开始 -->
		<aside class="rSide">
			<a href="/index/post/index" class="rbox publish box">
				<i></i>
				<p>发表帖子</p>
			</a>
			<a class="rbox sign box">
				<i></i>
				<span>签到</span>
				<b>签到<em>305321</em>人</b>
			</a>
			<div class="label box">
				<h1 class="boxTitle"> 热门标签 </h1>
				<h2 >
					<a href="">R11</a>
					<a href="">R9s</a>
					<a href="">R9</a>
				</h2>
			</div>
			<div class="box down">
				<img src="/static/images/15111425086094.png">
				<p>OPPO社区APP</p>
				<a href="">下载到电脑</a>
			</div>
			<div class="contact box">
				<h1 class="boxTitle"> 关注我们 </h1>
				<span href="" class="rbox weibo">
					<i></i>
					<p><em></em>官方微博</p>
				</span>
				<span href="" class="rbox wechat">
					<i></i>
					<p><em></em>官方微信</p>
					<b>扫一扫</b>
				</span>
			</div>
		</aside>
		<!-- 侧边栏结束 -->